[mariadb]
join_cache_level=8
optimizer_switch="mrr=on"
optimizer_switch="mrr_sort_keys=on"
optimizer_switch="mrr_cost_based=off"
optimizer_switch="optimize_join_buffer_size=on"
innodb_buffer_pool_size=2048M
connect_timeout=300
net_read_timeout=300
#join_buffer_size=1310720
max_allowed_packet=256M
